* {font-size: 10pt; font-family: "맑은 고딕";}
ul {list-style: none;}

#info {
	text-align: center;
	/* border-top: 1px solid #ccc; */
	padding: 10px;
	width: 600px;
	margin: 250px auto;
}

#info h1 { font-size: 25px; margin: 0; color: #2F8AFD;}
#info h2 { margin :0; color: #777777;}

#top_menu {
	position: fixed;
	background-color: #737373;
	border: 5px solid #5A5858;
	padding: 10px 0;
	border-radius: 5px;
	top: -5px;
	z-index: 5;
}

#top_menu ul 		 { list-style: none; margin: 0; padding: 0; }
#top_menu li 		 { float: left; border-right: 1px solid #ccc;}
#top_menu ul a 		 { padding: 10px; color:white; text-decoration: none;}
#top_menu ul a:hover { color:black; background-color: #fff; }
#top_menu li:last-of-type { border:none; }
#left_menu 	  { float: left; }
#left_menu ul { list-style: none; margin-left: -115px;}
#left_menu li {
	padding: 10px; 
	margin-bottom: 10px;
	border-radius: 5px;
	border: 5px solid #C90000;
	text-align: center; 	
	background-color: #ccc;
}

#left_menu #selectedMenuItem { position: relative; margin-left: -30px; border-right:none; background-color: #fff; z-index:3;}

#log {
	float: left;
	color: #005CFF; 
	text-align: center; 
	margin: 10px 0;
	border-left: #c90000 4px solid;
    padding: 5px 0;
    border-right: #c90000 4px solid;
}

#overUserMemo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.71);
    color: white;
    min-height: 20px;
    padding: 10px;
    width: 230px;
    left: 630px;
    transition: background 0.3s;
    word-wrap: break-word;
}

.hidden {
    background-color: rgba(0, 0, 0, 0) !important;
}

.hidden .memoText {
	display: none;
}

#aggrohuman { width:120px; }
#aggrohumanID { width:60px; }
#aggrohuman, #aggrohumanID {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 3px 5px;
}
.inputDeco { font-size: 20px; font-weight: bold; }
.block a{ display: block; }
.menuBox, .badUserOption, .choiceBadUserOption { margin: 0 auto; width: 600px; }
.center {text-align: center;}

.itemBlock { display: inline-block; }
.itemTitle { padding: 10px; color: white; }
.titleTools { 
	float: right;
	width: 160px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.titleTools button {
    padding: 0px;
    min-width: 25px;
}

#blockTypeSelect { padding: 3px 20px; border: none; }

/* option page1 */
.userList>.itemTitle { background-color: #c90000; }
.leftOption { float:left;}
.leftOption>#log { width:272px; }
.userSetting   { width: 280px; background-color: #c90000; margin-right: 10px;}
.userSetting { height: 200px;}
.badUserList, .choiceSetting { float: right; height: 350px; border: 5px solid #C90000; overflow-y:scroll; overflow-x:hidden; margin:0; padding: 0;}
.badUserList { width: 300px;}

.badUserList li, .selectedUser { width: 100%; height: 50px; border-bottom: 1px solid #ccc;}
.badUserList li p, .selectedUser p { margin:0;}
.overMemoArea { float: right; width: 20px; text-align: center; float: right; height: 50px; background: #ccc; transition: all 0.5s;}
.overMemoArea:hover { background-color: #6f6f6f; }
.badUserName{ width: 120px; overflow: auto; float: left;}
.badUserName .userName {font-size: 18px;}
.badUserName .userID {font-size: 9px;}
.badUserName .userName, .badUserName .userID {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.badUserList li .badUserName, .selectedUser .badUserName{ font-size: 18pt; margin: 0px 1px 0px 10px; }
.badUserList li .date, .selectedUser .date{font-size: 10pt;}
.cellContent .deleteCellBtn { float:right; }
.selectedUser button{ float:right; margin-left: 9px; }
.badUserList .select {background-color: #FF7203;}
.cellContent { float: left; padding: 6px; }
.cellState { float: left; text-align: center; }
.addUserMenu {display: block; margin: 50px 0; text-align: center;}

/* option page2 */
.choiceBadUserOption>#log { width: 592px;}
.choiceSetting { width: 270px; }
.choiceBadUserOption>.badUserList { margin-right: 10px; }

.addUserMenu #aggrohuman { width: 260px; padding: 10px; font-size: 20px; border-bottom: 4px solid #c90000; color: #000;}
.addUserMenu #aggrohumanID { width: 80px; color: #000; border-bottom: 2px solid #ccc; }

.option-item {
	text-align: center;
    margin: 10px 0;
}

.choiceSetting a{ display: block; margin: 5px 0; }

.container {
	width: 660px; 
	margin: 60px auto; 
	background-color: #fff; 
 	/*box-shadow: 0px 0px 13px 2px rgba(124, 124, 124, 0.41); */
}

#content {
	position: relative;
	background-color: #fff;
	padding: 1px 0 45px;
	border: 8px solid #C90000;
	background: linear-gradient(0deg, rgba(248, 247, 247, 0.28) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 100%);
	min-height: 790px;
	z-index: 2;
}

.option_btns {text-align: center;}

.block{ margin: 10px auto; background-color: #C90000; width: 200px; padding: 15px; border-radius: 20px;}

.title {font-family: "맑은 고딕"; font-size: 35pt; text-align: center;}

#user_info a{display: inline;}

#blockColor { width: 17px; height: 20px; padding: 0px 2px; background-color: white; margin-left: 5px;}

.choiceBadUserOption{ padding-left: 10px; }
.choiceUserName { text-align: center; font-size: 20px; }
.selectedUser{background-color: #ccc;}

.blockGroup.hidden {
    display: none;
}

.blockGroup { margin: 0 auto; width: 150px;}
.blockGroup #userID {text-align: center; width:100%;}
.blockGroup #userMemo { width:100%; height: 100px; }

.big button {
	
}

button, input[type="button"] {
    border: 2px solid #c3c3c3;
    background: white;
    padding: 5px;
    min-width: 50px;
    border-radius: 3px;
    color: #757575;
}

button:hover, input[type="button"]:hover, input[type="button"]:hover {
	transition: all 0.5s;
    box-shadow: inset 2px 2px 0px 1px #c3c3c3;
    border: 2px solid #1fa2ff;
}

input[type="file" i]::-webkit-file-upload-button {
	margin:10px 0;
}

input[type="file" i]::-webkit-file-upload-text {
	display:none;
}

.big {
    min-width: 100px;
    min-height: 35px;
    font-size: 14px;
}