* {font-size: 10pt; font-family: "맑은 고딕";}
ul {list-style: none;}

/* layout */
#top_menu {
	position: fixed;
	background-color: #737373;
	border: 5px solid #5A5858;
	padding: 10px 0;
	/*border-radius: 5px;*/
	top: -5px;
	z-index: 5;
}

#top_menu ul 		 { list-style: none; margin: 0; padding: 0; }
#top_menu li 		 { float: left; border-right: 1px solid #ccc;}
#top_menu ul a 		 { padding: 10px; color:white; text-decoration: none;}
#top_menu ul a:hover { color:black; background-color: #fff; }
#top_menu li:last-of-type { border:none; }
#left_menu 	  { position: absolute; }
#left_menu ul { list-style: none; margin-left: -145px;}
#left_menu li {
	padding: 10px; 
	margin-bottom: 10px;
	border-radius: 5px;
	border: 5px solid #C90000;
	text-align: center; 	
	background-color: #ccc;
	cursor: pointer;
}

#left_menu #selectedMenuItem { 
	position: relative; 
	margin-left: -30px; 
	border-right:none; 
	background-color: #fff; 
	cursor: default;

	transition: margin 0.3s;
}

#content {
	position: relative;
	background-color: #fff;
	padding: 0px 0 0px;
	border: 8px solid #C90000;
	background: linear-gradient(0deg, rgba(248, 247, 247, 0.28) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 100%);
	min-height: 740px;
	z-index: 2;
}

#log {
	color: #005CFF; 
	text-align: center; 
	margin: 10px 0;
	border-left: #c90000 4px solid;
  padding: 5px 0;
  border-right: #c90000 4px solid;
}

#overUserMemo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.71);
    color: white;
    min-height: 20px;
    padding: 10px;
    width: 230px;
    left: 660px;
    transition: opacity 0.3s;
    word-wrap: break-word;
}

.hidden {
	top:0;
	opacity: 0;
    /*background-color: rgba(0, 0, 0, 0) !important;*/
}

.hidden .memoText {
	/*display: none;*/
}

#aggrohuman, #keyword { width:120px; }
#aggrohumanID { width:60px; }
#aggrohuman, #aggrohumanID,
#keyword {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 3px 5px;
}

.badUserOption #inUserMemo { 
	width:80%; 
	height: 35px;
	background: #e25d5d;
	padding: 3px 5px;
	border: none;
	color: #fff;
	margin-top: 10px;
}

.badUserOption #inUserMemo::-webkit-input-placeholder {
	color: #ebebeb;
}

#aggrohuman::-webkit-input-placeholder,
#aggrohumanID::-webkit-input-placeholder,
#keyword::-webkit-input-placeholder{
    color: #cacaca;
    text-align: center;
}

#inUserMemo::-webkit-input-placeholder {
	text-align: center;
}

.inputDeco { font-size: 20px; font-weight: bold; }
.block a{ display: block; }
.otherOption, .badUserOption, .choiceBadUserOption { margin: 0 auto; width: 610px; height: 350px;}
.center {text-align: center !important;}


.itemBlock { display: inline-block; height: 100%;}
.itemTitle { padding: 10px; color: white; }
.itemFooter {display: inline-block; width: 100%; text-align: right; padding-top: 5px;}
.titleTools { 
	float: right;
	width: 160px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.titleTools button {
    padding: 0px;
    min-width: 25px;
}

#blockTypeSelect { padding: 3px 20px; border: none; }

.userListPage {
	width: 100%;
}

.userListPage .page {
  min-width: 25px;
  margin-right: 5px;
}

.userListPage .seleted {
  background: #c90000;
  border: 2px solid #c90000;
  color: white;
}

.userListPage .seleted:hover {
  box-shadow: none;
}

/* option page1 */
.userList>.itemTitle { background-color: #c90000; }
.leftOption { float:left;}
.leftOption>#log { width:272px; }
.userSetting   { width: 280px; height: 235px; background-color: #c90000; margin-right: 10px;}
.badUserList, .choiceSetting, .keywordList { 
	float: left; 
	height: 100%; 
	border: 5px solid #C90000; 
	overflow-y:scroll; 
	overflow-x:hidden; 
	margin:0; 
	padding: 0;

	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.badUserList, .keywordList { width: 310px;}

.badUserList li, .selectedUser { width: 100%; height: 50px; border-bottom: 1px solid #ccc; transition: all 0.3s;}
.badUserList li p, .selectedUser p { margin:0;}
.overMemoArea { 
	float: right; 
	width: 20px; 
	text-align: center; 
	float: right;
	height: 50px; 
	background: #ccc; 
	line-height: 45px;
    color: #fff; transition: all 0.5s;
}
.overMemoArea:hover { background-color: #6f6f6f; }
.badUserName{ width: 120px; overflow: auto; float: left;}
.badUserName .userName {font-size: 18px;}
.badUserName .userID {font-size: 9px;}

.badUserName .userName, .badUserName .userID {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.badUserList li .badUserName, .selectedUser .badUserName{ font-size: 18pt; margin: 0px 1px 0px 10px; }
.badUserList li .date, .selectedUser .date{font-size: 10pt;}
.cellContent .deleteCellBtn { float:right; }
.selectedUser button{ float:right; margin-left: 9px; }
.badUserList .select {background-color: #6f6f6f;}
.cellContent { float: left; padding: 6px; }
.cellState { float: left; text-align: center; }
.addUserMenu {display: block; margin: 30px 0; text-align: center;}

.swalBtn {
	width: 140px;
	height: 100px;
    border: 3px solid;
    font-weight: bold;
    box-shadow: inset -2px -2px 0px 3px #c3c3c3;
}

.swalBtn label {
	width: 100px;
    word-wrap: break-word;
    display: inline-block;
}

.swalBtn:hover {
	border: 3px solid;
	box-shadow: inset 2px 2px 0px 3px #c3c3c3;
}

.itemContent {
  height: 100%;
}

.itemFooter .userListController {
  width: 310px;
}

/* option page2 */
.choiceBadUserOption>#log { width: 592px;}
.choiceSetting { width: 270px; }

.choiceBadUserOption>.badUserList,
.choiceBadUserOption>.keywordList { margin-right: 10px; }

.choiceBadUserOption .badUserName { width: 135px; }

.choiceBadUserOption .badUserList li:hover { background: #6f6f6f; }


.addUserMenu #aggrohuman,
.addUserMenu #keyword { width: 260px; padding: 10px; font-size: 20px; border-bottom: 4px solid #c90000; color: #000;}
.addUserMenu #aggrohumanID { width: 80px; color: #000; border-bottom: 2px solid #ccc; }
.addUserMenu #inUserMemo {
    width: 485px;
    margin-top: 10px;
    border: none;
    background: #d7d7d7;
    padding: 10px;
}

.option-item {
	text-align: center;
    margin: 10px 0;
}

.choiceSetting .option-item { text-align: left; margin: 5px 0; }

.container {
	width: 710px; 
	margin: 60px auto; 
	background-color: #fff; 
 	/*box-shadow: 0px 0px 13px 2px rgba(124, 124, 124, 0.41); */
}

.option_btns {text-align: center;}

.block{ margin: 10px auto; background-color: #C90000; width: 200px; padding: 15px; border-radius: 20px;}

.title {font-family: "맑은 고딕"; font-size: 35pt; text-align: center; font-weight: bold;}

#user_info a{display: inline;}

#blockColor { width: 17px; height: 20px; padding: 0px 2px; background-color: white; margin-left: 5px;}

.choiceBadUserOption{ padding-left: 10px; }
.choiceUserName { text-align: center; font-size: 20px; }
.selectedUser{ background-color: #ccc; }

.blockGroup.hidden {
    display: none;
}

.blockGroup { margin: 0 auto; width: 190px;}
.blockGroup #userID, .blockGroup #userRegex { text-align: center; width:100%; height: 20px;}
.blockGroup #userMemo { width:97%; height: 100px; padding: 5px;}

.footer { margin: 0 auto; width: 610px; text-align: center; }

/* other option page */

.otherOption .option-item {
	text-align: left;
	width: 390px;
	margin: 10px auto;
}

#dislikeLimit {
    padding: 2px 5px;
    width: 50px;
}

/* info page */
#info {
	text-align: center;
	padding: 10px;
	width: 600px;
	margin: 80px auto;
}

#info h1 { font-size: 25px; margin: 0; color: #2F8AFD;}
#info h2 { margin :0; color: #777777;}

/* keyword page */
.keywordList li {
    float: left;
    background: #C90000;
    margin: 5px;
    padding: 5px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;
}

.keywordList li:hover { background: #6f6f6f !important; }

.keywordList .select {
	background: #6f6f6f !important;
}

#keywordDelete {
	width: 100%;
	margin-top: 10px;
}

.userListController {
	margin-top: 10px;
}

/* core thema */

button, input[type="button"] {
    border: 2px solid #c3c3c3;
    background: white;
    padding: 5px;
    min-width: 50px;
    border-radius: 3px;
    color: #757575;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button:hover, input[type="button"]:hover, input[type="button"]:hover {
	transition: all 0.3s;
    box-shadow: inset 2px 2px 0px 1px #c3c3c3;
    border: 2px solid #1fa2ff;
}

input[type="file" i]::-webkit-file-upload-button {
	margin:10px 0;
}

input[type="file" i]::-webkit-file-upload-text {
	display:none;
}

.big {
    min-width: 100px;
    min-height: 35px;
    font-size: 14px;
}

/* simple option */
.simple.container {
    margin: 0;
}

.backBtn {
	display:block; 
	text-align:right; 
	height:30px; 
	text-decoration: none;
}

.simple.container .title {font-size: 20pt; text-align: center; font-weight: bold;}

.simple.container #content {min-height: 480px;}

.simple.container #top_menu li a {color: white; cursor: pointer;}

.simple.container #top_menu li a:hover,
.simple.container #top_menu #selectedMenuItem a {
	color:black; 
	background-color: #fff;
}

.simple.container #overUserMemo {
	left: 317px;
	width: 243px;
	height: 30px;
	margin-top: -5px;
}

.simple.container .hidden {
	visibility: hidden;
}

.simple.container .addUserMenu {
	margin: 20px 0;
}

.simple.container .addUserMenu #aggrohuman { font-size:15pt; }
.simple.container .choiceUserName { font-size: 15px; }
.simple.container .blockGroup #userMemo { height: 50px; }

.simple.container #info{ margin: 10px auto; overflow-y: scroll; height: 450px;}

.simple.container #info h1 { font-size: 20px; }

.simple.container .otherOption, .simple.container .badUserOption { height: 240px; }
.simple.container .choiceBadUserOption { height: 200px; }